# Machine Learning - Unsupervised Learning and Feature Engineering
## Unit 6. Automated Feature Generation
### Lecturer: Tai Le Quy
#### 31.8.2023
Thanks Prof. Dr. Christian MÃ¼ller-Kett for his code.

## 1 Automated Feature Generation

### 1.1 Featuretools

In [ ]:
#Install the featuretools from the command prompt: version 1.11.1 (30.8.2023)
pip install featuretools

In [1]:
#%% import libraries
import pandas as pd
import featuretools as ft

C:\ProgramData\Anaconda3\lib\site-packages\woodwork\__init__.py:23: FutureWarning: Woodwork may not support Python 3.7 in next non-bugfix release.
  "Woodwork may not support Python 3.7 in next non-bugfix release.", FutureWarning
C:\ProgramData\Anaconda3\lib\site-packages\featuretools\__init__.py:67: FutureWarning: Featuretools may not support Python 3.7 in next non-bugfix release.
  FutureWarning,

In [2]:
#%% Remove any limit on the number of columns to display 
pd.options.display.max_columns = None

In [3]:
#%% Remove any limit on the number of rows to display
pd.options.display.max_rows = None

In [4]:
#%% Display the list of primitives
print(ft.list_primitives())

                                name         type  dask_compatible  \
0                               last  aggregation            False
1                         num_unique  aggregation             True
2                                sum  aggregation             True
3                      n_most_common  aggregation            False
4                                all  aggregation             True
5                   time_since_first  aggregation            False
6                                std  aggregation             True
7                               skew  aggregation            False
8                            entropy  aggregation            False
9                              count  aggregation             True
10                          num_true  aggregation             True
11                               max  aggregation             True
12                              mode  aggregation            False
13                               min  aggregation             True
14                              mean  aggregation             True
15                      percent_true  aggregation             True
16                             trend  aggregation            False
17                               any  aggregation             True
18                            median  aggregation            False
19                  avg_time_between  aggregation            False
20                             first  aggregation            False
21                   time_since_last  aggregation            False
22                       part_of_day    transform             True
23                       rolling_min    transform            False
24                add_numeric_scalar    transform             True
25                       rolling_std    transform            False
26                    num_characters    transform             True
27                               and    transform             True
28                              isin    transform             True
29                               age    transform             True
30                      is_month_end    transform             True
31                       is_year_end    transform             True
32           subtract_numeric_scalar    transform             True
33                     rolling_count    transform            False
34                     days_in_month    transform             True
35                           cum_min    transform            False
36                            negate    transform             True
37                is_federal_holiday    transform            False
38                    modulo_numeric    transform             True
39      greater_than_equal_to_scalar    transform             True
40                    is_quarter_end    transform             True
41                           quarter    transform             True
42   scalar_subtract_numeric_feature    transform             True
43                           is_null    transform             True
44                             month    transform             True
45                           cum_max    transform            False
46                     url_to_domain    transform            False
47                              hour    transform             True
48                 modulo_by_feature    transform             True
49                  less_than_scalar    transform             True
50                        percentile    transform            False
51                            second    transform             True
52                  is_quarter_start    transform             True
53           multiply_numeric_scalar    transform             True
54               greater_than_scalar    transform             True
55                          absolute    transform             True
56                         haversine    transform            False
57                      greater_than    transform             True
58                               not    transform             True
59                       day_of_year    transform             True
60             greater_than_equal_to    transform             True
61                  multiply_numeric    transform             True
62                              week    transform             True
63                               day    transform             True
64             divide_numeric_scalar    transform             True
65                       square_root    transform             True
66                     is_year_start    transform             True
67                   url_to_protocol    transform            False
68                        is_weekend    transform             True
69          multiply_numeric_boolean    transform             True
70                less_than_equal_to    transform             True
71                       geomidpoint    transform            False
72                   date_to_holiday    transform            False
73                    divide_numeric    transform             True
74                      equal_scalar    transform             True
75                 natural_logarithm    transform             True
76                          latitude    transform            False
77                                or    transform             True
78                        url_to_tld    transform            False
79                    is_month_start    transform             True
80             modulo_numeric_scalar    transform             True
81         less_than_equal_to_scalar    transform             True
82                         less_than    transform             True
83                              diff    transform            False
84                         longitude    transform            False
85                            minute    transform             True
86                 divide_by_feature    transform             True
87                              sine    transform             True
88                      is_in_geobox    transform            False
89                           cum_sum    transform            False
90           email_address_to_domain    transform            False
91                           weekday    transform             True
92               time_since_previous    transform            False
93                         not_equal    transform             True
94              is_free_email_domain    transform            False
95                       rolling_max    transform            False
96                              year    transform             True
97                  multiply_boolean    transform             True
98                           tangent    transform             True
99               distance_to_holiday    transform            False
100                            equal    transform             True
101                      numeric_lag    transform            False
102               cityblock_distance    transform            False
103                     is_leap_year    transform             True
104                      add_numeric    transform             True
105                 subtract_numeric    transform             True
106                     rolling_mean    transform            False
107                           cosine    transform             True
108                         cum_mean    transform            False
109                        num_words    transform             True
110                       time_since    transform             True
111                        cum_count    transform            False
112                 not_equal_scalar    transform             True

     spark_compatible                                        description  \
0               False               Determines the last value in a list.
1                True  Determines the number of distinct values, igno...
2                True     Calculates the total addition, ignoring `NaN`.
3               False           Determines the `n` most common elements.
4               False     Calculates if all values are 'True' in a list.
5               False  Calculates the time elapsed since the first da...
6                True  Computes the dispersion relative to the mean v...
7               False  Computes the extent to which a distribution di...
8               False    Calculates the entropy for a categorical column
9                True  Determines the total number of values, excludi...
10              False                Counts the number of `True` values.
11               True  Calculates the highest value, ignoring `NaN` v...
12              False       Determines the most commonly repeated value.
13               True  Calculates the smallest value, ignoring `NaN` ...
14               True         Computes the average for a list of values.
15              False           Determines the percent of `True` values.
16              False        Calculates the trend of a column over time.
17              False       Determines if any value is 'True' in a list.
18              False  Determines the middlemost number in a list of ...
19              False  Computes the average number of seconds between...
20              False              Determines the first value in a list.
21              False  Calculates the time elapsed since the last dat...
22               True          Determines the part of day of a datetime.
23              False  Determines the minimum of entries over a given...
24               True            Add a scalar to each value in the list.
25              False  Calculates the standard deviation of entries o...
26               True   Calculates the number of characters in a string.
27               True             Element-wise logical AND of two lists.
28               True  Determines whether a value is present in a pro...
29              False  Calculates the age in years as a floating poin...
30               True  Determines the is_month_end attribute of a dat...
31               True   Determines if a date falls on the end of a year.
32               True   Subtract a scalar from each element in the list.
33              False  Determines a rolling count of events over a gi...
34               True   Determines the day of the month from a datetime.
35              False                 Calculates the cumulative minimum.
36               True                           Negates a numeric value.
37              False  Determines if a given datetime is a federal ho...
38               True                  Element-wise modulo of two lists.
39               True  Determines if values are greater than or equal...
40               True  Determines the is_quarter_end attribute of a d...
41               True  Determines the quarter a datetime column falls...
42               True  Subtract each value in the list from a given s...
43               True                     Determines if a value is null.
44               True          Determines the month value of a datetime.
45              False                 Calculates the cumulative maximum.
46              False                    Determines the domain of a url.
47               True           Determines the hour value of a datetime.
48               True  Return the modulo of a scalar by each element ...
49               True  Determines if values are less than a given sca...
50              False  Determines the percentile rank for each value ...
51               True        Determines the seconds value of a datetime.
52               True  Determines the is_quarter_start attribute of a...
53               True     Multiply each element in the list by a scalar.
54               True  Determines if values are greater than a given ...
55               True           Computes the absolute value of a number.
56              False  Calculates the approximate haversine distance ...
57              False  Determines if values in one list are greater t...
58               True                           Negates a boolean value.
59               True  Determines the ordinal day of the year from th...
60               True  Determines if values in one list are greater t...
61               True          Element-wise multiplication of two lists.
62               True   Determines the week of the year from a datetime.
63               True   Determines the day of the month from a datetime.
64               True       Divide each element in the list by a scalar.
65               True              Computes the square root of a number.
66               True  Determines if a date falls on the start of a y...
67              False  Determines the protocol (http or https) of a url.
68               True           Determines if a date falls on a weekend.
69              False  Element-wise multiplication of a numeric list ...
70               True  Determines if values in one list are less than...
71              False  Determines the geographic center of two coordi...
72              False  Transforms time of an instance into the holida...
73               True                Element-wise division of two lists.
74               True  Determines if values in a list are equal to a ...
75               True        Computes the natural logarithm of a number.
76              False  Returns the first tuple value in a list of Lat...
77               True              Element-wise logical OR of two lists.
78              False          Determines the top level domain of a url.
79               True  Determines the is_month_start attribute of a d...
80               True  Return the modulo of each element in the list ...
81               True  Determines if values are less than or equal to...
82               True  Determines if values in one list are less than...
83              False  Compute the difference between the value in a ...
84              False  Returns the second tuple value in a list of La...
85               True        Determines the minutes value of a datetime.
86               True         Divide a scalar by each value in the list.
87               True                     Computes the sine of a number.
88              False  Determines if coordinates are inside a box def...
89              False                     Calculates the cumulative sum.
90              False                  Determines the domain of an email
91               True    Determines the day of the week from a datetime.
92              False  Compute the time since the previous entry in a...
93              False  Determines if values in one list are not equal...
94              False  Determines if an email address is from a free ...
95              False  Determines the maximum of entries over a given...
96               True           Determines the year value of a datetime.
97              False  Element-wise multiplication of two lists of bo...
98               True                  Computes the tangent of a number.
99              False  Computes the number of days before or after a ...
100              True  Determines if values in one list are equal to ...
101             False  Shifts an array of values by a specified numbe...
102             False  Calculates the distance between points in a ci...
103              True  Determines the is_leap_year attribute of a dat...
104              True                Element-wise addition of two lists.
105             False             Element-wise subtraction of two lists.
106             False  Calculates the mean of entries over a given wi...
107              True                   Computes the cosine of a number.
108             False                    Calculates the cumulative mean.
109              True  Determines the number of words in a string by ...
110             False  Calculates time from a value to a specified cu...
111             False                   Calculates the cumulative count.
112              True  Determines if values in a list are not equal t...

                                          valid_inputs  \
0                                       <ColumnSchema>
1        <ColumnSchema (Semantic Tags = ['category'])>
2         <ColumnSchema (Semantic Tags = ['numeric'])>
3        <ColumnSchema (Semantic Tags = ['category'])>
4    <ColumnSchema (Logical Type = BooleanNullable)...
5    <ColumnSchema (Logical Type = Datetime) (Seman...
6         <ColumnSchema (Semantic Tags = ['numeric'])>
7         <ColumnSchema (Semantic Tags = ['numeric'])>
8        <ColumnSchema (Semantic Tags = ['category'])>
9           <ColumnSchema (Semantic Tags = ['index'])>
10   <ColumnSchema (Logical Type = BooleanNullable)...
11        <ColumnSchema (Semantic Tags = ['numeric'])>
12       <ColumnSchema (Semantic Tags = ['category'])>
13        <ColumnSchema (Semantic Tags = ['numeric'])>
14        <ColumnSchema (Semantic Tags = ['numeric'])>
15   <ColumnSchema (Logical Type = BooleanNullable)...
16   <ColumnSchema (Logical Type = Datetime) (Seman...
17   <ColumnSchema (Logical Type = BooleanNullable)...
18        <ColumnSchema (Semantic Tags = ['numeric'])>
19   <ColumnSchema (Logical Type = Datetime) (Seman...
20                                      <ColumnSchema>
21   <ColumnSchema (Logical Type = Datetime) (Seman...
22            <ColumnSchema (Logical Type = Datetime)>
23   <ColumnSchema (Semantic Tags = ['numeric'])>, ...
24        <ColumnSchema (Semantic Tags = ['numeric'])>
25   <ColumnSchema (Semantic Tags = ['numeric'])>, ...
26     <ColumnSchema (Logical Type = NaturalLanguage)>
27   <ColumnSchema (Logical Type = BooleanNullable)...
28                                      <ColumnSchema>
29   <ColumnSchema (Logical Type = Datetime) (Seman...
30            <ColumnSchema (Logical Type = Datetime)>
31            <ColumnSchema (Logical Type = Datetime)>
32        <ColumnSchema (Semantic Tags = ['numeric'])>
33   <ColumnSchema (Logical Type = Datetime) (Seman...
34            <ColumnSchema (Logical Type = Datetime)>
35        <ColumnSchema (Semantic Tags = ['numeric'])>
36        <ColumnSchema (Semantic Tags = ['numeric'])>
37            <ColumnSchema (Logical Type = Datetime)>
38        <ColumnSchema (Semantic Tags = ['numeric'])>
39   <ColumnSchema (Logical Type = Datetime)>, <Col...
40            <ColumnSchema (Logical Type = Datetime)>
41            <ColumnSchema (Logical Type = Datetime)>
42        <ColumnSchema (Semantic Tags = ['numeric'])>
43                                      <ColumnSchema>
44            <ColumnSchema (Logical Type = Datetime)>
45        <ColumnSchema (Semantic Tags = ['numeric'])>
46                 <ColumnSchema (Logical Type = URL)>
47            <ColumnSchema (Logical Type = Datetime)>
48        <ColumnSchema (Semantic Tags = ['numeric'])>
49   <ColumnSchema (Logical Type = Datetime)>, <Col...
50        <ColumnSchema (Semantic Tags = ['numeric'])>
51            <ColumnSchema (Logical Type = Datetime)>
52            <ColumnSchema (Logical Type = Datetime)>
53        <ColumnSchema (Semantic Tags = ['numeric'])>
54   <ColumnSchema (Logical Type = Datetime)>, <Col...
55        <ColumnSchema (Semantic Tags = ['numeric'])>
56             <ColumnSchema (Logical Type = LatLong)>
57   <ColumnSchema (Logical Type = Datetime)>, <Col...
58   <ColumnSchema (Logical Type = BooleanNullable)...
59            <ColumnSchema (Logical Type = Datetime)>
60   <ColumnSchema (Logical Type = Datetime)>, <Col...
61        <ColumnSchema (Semantic Tags = ['numeric'])>
62            <ColumnSchema (Logical Type = Datetime)>
63            <ColumnSchema (Logical Type = Datetime)>
64        <ColumnSchema (Semantic Tags = ['numeric'])>
65        <ColumnSchema (Semantic Tags = ['numeric'])>
66            <ColumnSchema (Logical Type = Datetime)>
67                 <ColumnSchema (Logical Type = URL)>
68            <ColumnSchema (Logical Type = Datetime)>
69   <ColumnSchema (Logical Type = BooleanNullable)...
70   <ColumnSchema (Logical Type = Datetime)>, <Col...
71             <ColumnSchema (Logical Type = LatLong)>

### 1.2 Automatically generate new features

In [2]:
import featuretools as ft
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\woodwork\__init__.py:23: FutureWarning: Woodwork may not support Python 3.7 in next non-bugfix release.
  "Woodwork may not support Python 3.7 in next non-bugfix release.", FutureWarning
C:\ProgramData\Anaconda3\lib\site-packages\featuretools\__init__.py:67: FutureWarning: Featuretools may not support Python 3.7 in next non-bugfix release.
  FutureWarning,

In [3]:
#%% create sample data
Customers = pd.DataFrame({ 
    'C_ID': ['C1', 'C2'], 
    'Name': ['Martin', 'Julia'], 
    'Creation_date': ['2018-08-15', '2020-05-05']}, 
        columns = ['C_ID','Name','Creation_date'])
Orders = pd.DataFrame({ 
    'Ord_ID': ['1', '2', '3', '4', '5'], 
    'C_ID': ['C1', 'C2', 'C1', 'C1','C2']}, 
        columns = ['Ord_ID','C_ID'])
Payments = pd.DataFrame({ 
    'Ord_ID':['1', '5', '3', '4', '2'], 
    'Price':[500, 200, 300, 100, 900]}, 
        columns = ['Ord_ID', 'Price'])

In [4]:
Customers

  C_ID    Name Creation_date
0   C1  Martin    2018-08-15
1   C2   Julia    2020-05-05

In [5]:
Orders

  Ord_ID C_ID
0      1   C1
1      2   C2
2      3   C1
3      4   C1
4      5   C2

In [6]:
Payments

  Ord_ID  Price
0      1    500
1      5    200
2      3    300
3      4    100
4      2    900

In [7]:
#%% create 'customer' entitysets
es = ft.EntitySet(id = 'Customers')
es = es.add_dataframe( \
    dataframe_name = 'Customers', \
    dataframe = Customers, \
    index = 'C_ID', time_index = 'Creation_date')

In [8]:
es

Entityset: Customers
  DataFrames:
    Customers [Rows: 2, Columns: 3]
  Relationships:
    No relationships

In [9]:
#%% create orders entityset
es = es.add_dataframe( \
    dataframe_name = 'Orders', \
    dataframe = Orders, \
    index = 'Ord_ID')

In [10]:
#%% create payments entityset
es = es.add_dataframe( \
    dataframe_name = 'Payments', \
    dataframe = Payments, 
    make_index = True,
    index = 'P_ID')

In [13]:
es['Payments']

   P_ID Ord_ID  Price
0     0      1    500
1     1      5    200
2     2      3    300
3     3      4    100
4     4      2    900

In [14]:
es

Entityset: Customers
  DataFrames:
    Customers [Rows: 2, Columns: 3]
    Orders [Rows: 5, Columns: 2]
    Payments [Rows: 5, Columns: 3]
  Relationships:
    No relationships

In [15]:
#%%
# Define the relationship between the parent 'Customers' 
# and the child 'Orders' linked together by 'C_ID'
r_Cust_Ord = ft.Relationship(entityset=es,parent_dataframe_name= 'Customers', parent_column_name='C_ID', 
                             child_dataframe_name= 'Orders',child_column_name='C_ID')

In [16]:
r_Cust_Ord

In [17]:
#%% Add the relationship to the entity set
es = es.add_relationship(relationship=r_Cust_Ord)

In [18]:
es

Entityset: Customers
  DataFrames:
    Customers [Rows: 2, Columns: 3]
    Orders [Rows: 5, Columns: 2]
    Payments [Rows: 5, Columns: 3]
  Relationships:
    Orders.C_ID -> Customers.C_ID

In [19]:
#%% define relationship between 'Orders' 
# and 'Payments'
r_Orders_Payments = ft.Relationship(entityset=es,parent_dataframe_name= 'Orders', 
                                    parent_column_name='Ord_ID',child_dataframe_name= 'Payments',
                                    child_column_name='Ord_ID')

In [20]:
#%% Add the relationship to the entity set
es = es.add_relationship(relationship=r_Orders_Payments)

In [21]:
#%% show entityset
es

Entityset: Customers
  DataFrames:
    Customers [Rows: 2, Columns: 3]
    Orders [Rows: 5, Columns: 2]
    Payments [Rows: 5, Columns: 3]
  Relationships:
    Orders.C_ID -> Customers.C_ID
    Payments.Ord_ID -> Orders.Ord_ID

In [22]:
#%% show aggregation primitives
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 160
primitives[primitives['type']=="aggregation"].head(15)

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
0,all,aggregation,True,False,Calculates if all values are 'True' in a list.,"<ColumnSchema (Logical Type = Boolean)>, <ColumnSchema (Logical Type = BooleanNullable)>",<ColumnSchema (Logical Type = Boolean)>
1,mode,aggregation,False,False,Determines the most commonly repeated value.,<ColumnSchema (Semantic Tags = ['category'])>,None
2,trend,aggregation,False,False,Calculates the trend of a column over time.,"<ColumnSchema (Semantic Tags = ['numeric'])>, <ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>",<ColumnSchema (Semantic Tags = ['numeric'])>
3,std,aggregation,True,True,"Computes the dispersion relative to the mean value, ignoring `NaN`.",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
4,entropy,aggregation,False,False,Calculates the entropy for a categorical column,<ColumnSchema (Semantic Tags = ['category'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
5,time_since_last,aggregation,False,False,Calculates the time elapsed since the last datetime (default in seconds).,<ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>,<ColumnSchema (Logical Type = Double) (Semantic Tags = ['numeric'])>
6,median,aggregation,False,False,Determines the middlemost number in a list of values.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
7,avg_time_between,aggregation,False,False,Computes the average number of seconds between consecutive events.,<ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>,<ColumnSchema (Logical Type = Double) (Semantic Tags = ['numeric'])>
8,n_most_common,aggregation,False,False,Determines the `n` most common elements.,<ColumnSchema (Semantic Tags = ['category'])>,None
9,percent_true,aggregation,True,False,Determines the percent of `True` values.,"<ColumnSchema (Logical Type = Boolean)>, <ColumnSchema (Logical Type = BooleanNullable)>",<ColumnSchema (Logical Type = Double) (Semantic Tags = ['numeric'])>
10,any,aggregation,True,False,Determines if any value is 'True' in a list.,"<ColumnSchema (Logical Type = Boolean)>, <ColumnSchema (Logical Type = BooleanNullable)>",<ColumnSchema (Logical Type = Boolean)>
11,max,aggregation,True,True,"Calculates the highest value, ignoring `NaN` values.",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
12,first,aggregation,False,False,Determines the first value in a list.,<ColumnSchema>,None
13,count,aggregation,True,True,"Determines the total number of values, excluding `NaN`.",<ColumnSchema (Semantic Tags = ['index'])>,<ColumnSchema (Logical Type = IntegerNullable) (Semantic Tags = ['numeric'])>
14,mean,aggregation,True,True,Computes the average for a list of values.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>

In [61]:
#%% show transformation primitives
primitives[primitives['type']=="transform"].head(15)

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
22,part_of_day,transform,True,True,Determines the part of day of a datetime.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Categorical) (Semantic Tags = ['category'])>
23,rolling_min,transform,False,False,Determines the minimum of entries over a given window.,"<ColumnSchema (Semantic Tags = ['numeric'])>, <ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>",<ColumnSchema (Logical Type = Double) (Semantic Tags = ['numeric'])>
24,add_numeric_scalar,transform,True,True,Add a scalar to each value in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
25,rolling_std,transform,False,False,Calculates the standard deviation of entries over a given window.,"<ColumnSchema (Semantic Tags = ['numeric'])>, <ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>",<ColumnSchema (Logical Type = Double) (Semantic Tags = ['numeric'])>
26,num_characters,transform,True,True,Calculates the number of characters in a string.,<ColumnSchema (Logical Type = NaturalLanguage)>,<ColumnSchema (Semantic Tags = ['numeric'])>
27,and,transform,True,True,Element-wise logical AND of two lists.,"<ColumnSchema (Logical Type = BooleanNullable)>, <ColumnSchema (Logical Type = Boolean)>",<ColumnSchema (Logical Type = BooleanNullable)>
28,isin,transform,True,True,Determines whether a value is present in a provided list.,<ColumnSchema>,<ColumnSchema (Logical Type = Boolean)>
29,age,transform,True,False,Calculates the age in years as a floating point number given a,<ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['date_of_birth'])>,<ColumnSchema (Logical Type = AgeFractional) (Semantic Tags = ['numeric'])>
30,is_month_end,transform,True,True,Determines the is_month_end attribute of a datetime column.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
31,is_year_end,transform,True,True,Determines if a date falls on the end of a year.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
32,subtract_numeric_scalar,transform,True,True,Subtract a scalar from each element in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
33,rolling_count,transform,False,False,Determines a rolling count of events over a given window.,<ColumnSchema (Logical Type = Datetime) (Semantic Tags = ['time_index'])>,<ColumnSchema (Logical Type = Double) (Semantic Tags = ['numeric'])>
34,days_in_month,transform,True,True,Determines the day of the month from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]) ..."
35,cum_min,transform,False,False,Calculates the cumulative minimum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
36,negate,transform,True,True,Negates a numeric value.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>

In [24]:
#%% generate features
features, feature_names = ft.dfs( 
    entityset=es, 
    target_dataframe_name='Customers', 
    agg_primitives=['sum'], 
    trans_primitives=['year'])

In [25]:
features

      SUM(Payments.Price) YEAR(Creation_date)
C_ID
C1                  900.0                2018
C2                 1100.0                2020

In [27]:
#%% generate features
feats, feat_names = ft.dfs( entityset=es, 
    target_dataframe_name='Customers', 
    max_depth = 2)

In [28]:
feats

,COUNT(Orders),COUNT(Payments),MAX(Payments.Price),MEAN(Payments.Price),MIN(Payments.Price),SKEW(Payments.Price),STD(Payments.Price),SUM(Payments.Price),DAY(Creation_date),MONTH(Creation_date),...,STD(Orders.MAX(Payments.Price)),STD(Orders.MEAN(Payments.Price)),STD(Orders.MIN(Payments.Price)),STD(Orders.SKEW(Payments.Price)),STD(Orders.SUM(Payments.Price)),SUM(Orders.MAX(Payments.Price)),SUM(Orders.MEAN(Payments.Price)),SUM(Orders.MIN(Payments.Price)),SUM(Orders.SKEW(Payments.Price)),SUM(Orders.STD(Payments.Price))
C_ID,,,,,,,,,,,,,,,,,,,,,
C1,3,3,500.0,300.0,100.0,0.0,200.000000,900.0,15,8,...,200.000000,200.000000,200.000000,NaN,200.000000,900.0,900.0,900.0,0.0,0.0
C2,2,2,900.0,550.0,200.0,NaN,494.974747,1100.0,5,5,...,494.974747,494.974747,494.974747,NaN,494.974747,1100.0,1100.0,1100.0,0.0,0.0

In [29]:
feat_names

[<Feature: COUNT(Orders)>,
 <Feature: COUNT(Payments)>,
 <Feature: MAX(Payments.Price)>,
 <Feature: MEAN(Payments.Price)>,
 <Feature: MIN(Payments.Price)>,
 <Feature: SKEW(Payments.Price)>,
 <Feature: STD(Payments.Price)>,
 <Feature: SUM(Payments.Price)>,
 <Feature: DAY(Creation_date)>,
 <Feature: MONTH(Creation_date)>,
 <Feature: WEEKDAY(Creation_date)>,
 <Feature: YEAR(Creation_date)>,
 <Feature: MAX(Orders.COUNT(Payments))>,
 <Feature: MAX(Orders.MEAN(Payments.Price))>,
 <Feature: MAX(Orders.MIN(Payments.Price))>,
 <Feature: MAX(Orders.SKEW(Payments.Price))>,
 <Feature: MAX(Orders.STD(Payments.Price))>,
 <Feature: MAX(Orders.SUM(Payments.Price))>,
 <Feature: MEAN(Orders.COUNT(Payments))>,
 <Feature: MEAN(Orders.MAX(Payments.Price))>,
 <Feature: MEAN(Orders.MEAN(Payments.Price))>,
 <Feature: MEAN(Orders.MIN(Payments.Price))>,
 <Feature: MEAN(Orders.SKEW(Payments.Price))>,
 <Feature: MEAN(Orders.STD(Payments.Price))>,
 <Feature: MEAN(Orders.SUM(Payments.Price))>,
 <Feature: MIN(Orders.COUNT(Payments))>,
 <Feature: MIN(Orders.MAX(Payments.Price))>,
 <Feature: MIN(Orders.MEAN(Payments.Price))>,
 <Feature: MIN(Orders.SKEW(Payments.Price))>,
 <Feature: MIN(Orders.STD(Payments.Price))>,
 <Feature: MIN(Orders.SUM(Payments.Price))>,
 <Feature: SKEW(Orders.COUNT(Payments))>,
 <Feature: SKEW(Orders.MAX(Payments.Price))>,
 <Feature: SKEW(Orders.MEAN(Payments.Price))>,
 <Feature: SKEW(Orders.MIN(Payments.Price))>,
 <Feature: SKEW(Orders.STD(Payments.Price))>,
 <Feature: SKEW(Orders.SUM(Payments.Price))>,
 <Feature: STD(Orders.COUNT(Payments))>,
 <Feature: STD(Orders.MAX(Payments.Price))>,
 <Feature: STD(Orders.MEAN(Payments.Price))>,
 <Feature: STD(Orders.MIN(Payments.Price))>,
 <Feature: STD(Orders.SKEW(Payments.Price))>,
 <Feature: STD(Orders.SUM(Payments.Price))>,
 <Feature: SUM(Orders.MAX(Payments.Price))>,
 <Feature: SUM(Orders.MEAN(Payments.Price))>,
 <Feature: SUM(Orders.MIN(Payments.Price))>,
 <Feature: SUM(Orders.SKEW(Payments.Price))>,
 <Feature: SUM(Orders.STD(Payments.Price))>]